  <footer>
    <div class="content-width flow-2">
      <p>
        A hastily thrown together project by <a href="http://danabyerly.com">Dana Byerly</a>, prompted by a moment of thinking "Maybe I would use Pinboard more if it was responsive?". I guess we'll find out! Contents curated soley for my reading list and/or reference for future hastily thrown together projects.
      </p>

      <p>
        Site built with <a href="https://airtable.com/">Airtable</a>, <a href="https://11ty.dev/">Eleventy</a>, <a href="https://fonts.google.com/specimen/Literata">Literata font</a> and hosted at <a href="https://www.netlify.com/">Netlify</a>. Code at <a href="https://github.com/superterrific/pile-of-hrefs">Github</a>.
      </p>

      <p>
        <a href="https://danabyerly.com/projects/pile-of-hrefs/">More about the project</a>.
      </p>
    </div>
  </footer>
