<a class="skip" href="#main-content">Skip to main site content</a>
<header>
  <div class="header-inner">
    <div class="site-title fluid-type">
      <a href="/">Pile of hrefs
        <img src="/img/pile-hdr.svg" width="36" height="auto" alt="" aria-hidden="true" focusable="false">
      </a>
    </div>
    <nav>
      <ul class="menu fluid-type">
        {% for item in navigation.items %}
         <li id="{{ item.id }}"><a href="{{ item.url }}"{{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
         {% endfor %}
      </ul>
    </nav>
  </div>
</header>
