<a class="skip" href="#main-content">Skip to main site content</a>
<header>
  <div class="header-inner">
    <div class="site-title fluid-type">
      <a href="/">Pile of hrefs
        <picture>
          <source srcset="/img/pile-hdr.avif" type="image/avif">
          <source srcset="/img/pile-hdr.webp" type="image/webp">
          <img src="/img/pile-hdr.png" width="36" height="36" alt="" role="presentation">
        </picture>
      </a>
    </div>
    <nav>
      <ul class="menu fluid-type">
        {% for item in navigation.items %}
         <li id="{{ item.id }}"><a href="{{ item.url }}"{{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
         {% endfor %}
      </ul>
    </nav>
  </div>
</header>
